@charset "utf-8";
/* CSS Document */
h1, h2, h3, h4, h5, h6 {font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;} 
p, div {font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;}
p{padding:15px;height:35px;display:block;-webkit-margin-before:1em;-webkit-margin-after:1em;-webbit-margin-start:0px;-webkit-margin-end:0px; }
.gb{margin:0px; border:0px; padding:0px;position:relative}
.bg_1{ background:#FFF;;width:100%; margin:0px; border:0px; padding:0px;}
.bg_2{ background:#f6f6f6;  margin:0px; padding:0px; border:0px; height:35px;}
.bg_3{ width:45%; }
.bg_4{ width:30%; }
.bg_5{ float:right; margin:10px; padding:5px;}
.bg_6{ width:100%; height:100%;}
.bg_7{ position:absolute; top:110px; left:50px; color:#FFFFFF;}


.b_1{ font-size:20px; overflow:hidden;}
.b_2{ height:100%; width:28%; }
.img_2{  height:35px; margin-right:10px;}
.img_3{ margin-left:10px; margin-right:10px;height:15px;margin-top:-3px;}
.img_1{width:320px; height:320px; margin:10px;}