<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="classcircle" value="http://if.quanquan6.com/?if=JoinClassCircle"/>
    <add key="sendpush" value="http://push.quanquan6.com/?if=SendPush"/>
    <!-- 北京团市委签到ID列表  -->
    <add key="signInId" value="0"/>
    <!-- end 北京团市委签到ID列表  -->
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=10.4.20.202;uid=sa;pwd=quanquan@360;database=universities;"/>-->
    <add name="ConnectionString" connectionString="D3ED234D5D9C09ADFB187F40E488EC5850B6437AEFA8BBBC64950ABAE6701299146BACE4C94B8B3C2D8FB422A42F1ECD9EE656FE58BE797F"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.0" debug="true"/>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <!--<add type="university.Web.UI.HttpModule, university.Web.UI" name="HttpModule" />-->
    </httpModules>
    <!-- 文件上传大小KB-->
    <httpRuntime maxRequestLength="204800" executionTimeout="3600"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780CCD10D57B246" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>