<?xml version="1.0" encoding="utf-8" ?>
<!--linux远程服务器-->
<root>
  <linux_site>
    <url>http://static.quanquan6.com</url>
    <host>static.quanquan6.com</host>
    <user>root</user>
    <port>22</port>
    <password>3f2H%g!S@5DBFAF*4K$%XG8q</password>
    <nginx_root>/quanquanstatic/www</nginx_root>
  </linux_site>
  <this_site>
 
  </this_site>
</root>


