<?xml version="1.0"?>
<userconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <regstatus>1</regstatus>
  <regkeywords>admin,manager,university</regkeywords>
  <regverify>0</regverify>
  <regctrl>0</regctrl>
  <regemailexpired>1</regemailexpired>
  <regemailditto>1</regemailditto>
  <emaillogin>1</emaillogin>
  <regrules>1</regrules>
  <regrulestxt></regrulestxt>
  <regmsgstatus>1</regmsgstatus>
  <regmsgtxt>欢迎加入圈圈！</regmsgtxt>
  <invitecodeexpired>1</invitecodeexpired>
  <invitecodecount>1</invitecodecount>
  <invitecodenum>20</invitecodenum>
  <pointcashrate>10</pointcashrate>
  <pointinvitenum>15</pointinvitenum>
</userconfig>