h1, h2, h3, h4, h5, h6 {font-family: Helvetica, Tahoma, Arial, STXihei, ¡°»ªÎÄÏ¸ºÚ¡±, ¡°Microsoft YaHei¡±, ¡°Î¢ÈíÑÅºÚ¡±, SimSun, ¡°ËÎÌå¡±, Heiti, ¡°ºÚÌå¡±, sans-serif;} 
p, div {font-family: Helvetica, Tahoma, Arial, STXihei, ¡°»ªÎÄÏ¸ºÚ¡±, ¡°Microsoft YaHei¡±, ¡°Î¢ÈíÑÅºÚ¡±, SimSun, ¡°ËÎÌå¡±, Heiti, ¡°ºÚÌå¡±, sans-serif;}
body { background: url( /img/cream_dust.png) repeat 0 0;} 
.img-rounded_0{ width:255px; height:360px; margin:20px;}
.img-rounded_1{ width:190px; height:120px; margin-left:15px;}
.img-rounded_2{ width:253px; height:253px; margin:5px;}
.img-rounded_3{ width:50px; height:50px; margin:7.5px; border-radius:2px;}
.img-rounded_4{ width:90px; height:90px; margin:7.5px; border-radius:2px;}
.img-rounded_5{ width:40px; height:40px;  border-radius:2px;}
.bg_1{ background:#51b9eb}
.bg_2{ background:#eb7f8a; color:#FFFFFF;}
.bg_3{ background:#b5b5b5; color:#FFFFFF;}
.bg_4{ background:#a3da39}
.table_1{ width:337px; height:239px;}
.td_1{width:40px;}
.td_2{width:285px;}
.pl{ float:right;  }
.xqbj{ margin-top:30px;}
.xq_1{ width:100%; float:left; margin-bottom:20px;}
.xq_2{ width:100%; float:left; margin-bottom:20px;}
.xq_3{ width:80%; float:left; margin-left:15px;} 
.xq_4{ width:100%; font-size:16px; margin-top:10px;  float:left;}
.xq_5{ background:#FFFFFF; float:left; width:20%; height:34px; border-radius:0px 10px 10px 0px; padding-left:10px; margin:0px;}
.xq_5_1{ float:left}
.xq_6{ width:720px; height:60px; padding:5px; border-style:solid; border-color:#CCCCCC; margin-left:0px; }
.xq_7{margin-left:10px;}
.xq_7 a{ text-decoration:none; font-size:12px; color:#000; list-style:circle; }
.xq_8{ width:100%; float:left; }
.xq_1_1{ width:100px; float:left;}
.btn_1{ width:20px; height:20px;}
.font_1{ font-size:20px; color:#FFFFFF;}
.font_2{ font-size:12px;}
.b_1{ border-radius:10px 0px 0px 10px;}
.img_1{  alignment-adjust:middle; }